<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <mat-form-field>
    <mat-label>Select city</mat-label>
    <mat-select (selectionChange)="onCityChanged()">
      <mat-option *ngFor="let city of cities" [value]="citySelected">
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <app-data-grid [dataToRender$]='weatherDetails$ | async' [displayedColumns]='displayedColumns'>
  </app-data-grid>
</div>
<!-- <router-outlet></router-outlet> -->
